@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-background: oklch(0.145 0 0);
}

@layer base {

  /* Webkit Browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-theme-raisin-black);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-theme-french-mauve);
    border-radius: 5px;
    border: 2px solid oklch(67.65% 0.1539 329.18 / 0.4);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-theme-tickle-me-pink);
    /* Efecto hover */
  }

  /* Firefox */
  * {
    scrollbar-color: var(--color-theme-french-mauve) var(--color-theme-raisin-black);
    scrollbar-width: thin;
    border-radius: 5px;
  }
}